{% extends 'base.html' %}

{% block head %}
<title>Cart</title>
{% endblock %}

{% block body %}
<div class="header-container" style="height: 80vh;">
    <img src="/static/images/charityheader.jpg" height="400px" width="100%" alt="">
    <div class="overlay-card">
        <h3>Cart</h3>
        <hr>
        <label>Thanks for putting trust</label>
        <hr>
        <label>Your time slot from starts from <i>12-12-2020 to anytime</i></label>
        
    </div>
    <div id="username">Welcome! Charity
        <button class="filledbtn">Add More Item</button>
    </div>
</div>

<ul id="ul">
    {% for item in data %}
        <li>
        <h4>{{item.itemName}}</h4> 
        <label id={{item.id}}>{{item.qx}}</label>
        <div class="divcartbtn">
        <button class="cartbtnplus" id="add" onclick="incItem('{{item.id}}', '{{item.qx}}', '{{item.actualqx}}')">+</button>
        <button class="cartbtnminus" id="sub" onclick="subItem('{{item.id}}', '{{item.qx}}', '{{item.actualqx}}')">-</button>
    </div>
</li>
    
    {% endfor %}
    <button class="filledbtn" style="text-align: center;" onclick="genQR('{{jsons}}')">Genrate QR Code</button>

</ul>


<script>


function incItem (index, qx, actualqx) {  
    var q = document.getElementById(index).innerHTML;
    console.log(actualqx, qx)
    // parseInt(q)
    if (parseInt(q)+1 <= actualqx) {
        document.getElementById(index).innerHTML = parseInt(q)+1;
    }
    else {
        window.alert("Required quantity is not available")
    }
}

function subItem (index, qx, acrtualqx) {  
    var q = document.getElementById(index).innerHTML;
    if (qx <= acrtualqx && parseInt(q) > 1) {
        document.getElementById(index).innerHTML = parseInt(q)-1;
    }
    else {
        window.alert("You cannot decrement quantity to 0")
    }
}

function genQR (data) {
//     console.log("ok")
//     var list = document.getElementById("ul");
//     var items = list.getElementsByTagName("li");

//     finalItemsList = []
    
// for (var i = 0; i < items.length; ++i) {
//     var txt = items[i].getElementsByTagName("label");
 
//     console.log('innertext=================',txt[0].innerText)

// }

datas = JSON.parse(data)


finalData = [] //[{id, qx}, ...]
datas.forEach((obj) => {
    var qx = document.getElementById(obj.id).innerHTML;
    finalData.push({id: obj.id, qx})
})

const final = JSON.stringify(finalData)

if (finalData.length == 0){
    alert("You must have to include 1 item in your cart")
    return;
}

window.location.href="http://127.0.0.1:5000/qr/"+final;


}

</script>

{% endblock %}